apiVersion: v1
kind: Secret
metadata:
  name: database-secret
  namespace: default
type: Opaque
data:
  database-db: "{{ db_name | b64encode }}"
  database-user: "{{ db_username | b64encode }}"
  database-password: "{{ db_password | b64encode }}"
  database-url: "{{ db_url | b64encode }}"
